.heading{
  font-size: 45px;
  font-weight: 700;
  margin: 10px;
  margin-bottom: 25px;
}
input{
  width: 100%;
  
}
.items{
  text-align: left;
}
.new-row{
  margin: 10px 50px;
}
.new-btn{
  min-width: 90px;
  text-align: left;
}
/* button{
  text-align: left;
  margin-left: 100px;
} */